@import url('https://fonts.googleapis.com/css2?family=Forum&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --col-zi: rgb(43, 43, 43);
  --col-gjelber: rgb(163, 182, 180);
  --col-pjeshke: rgb(232, 173, 143);
  --col-kafe: rgb(217, 174, 132);
  --col-bardh: rgb(236, 233, 224);
}

/* 
font-family: 'Forum', cursive;
font-family: 'Work Sans', sans-serif; */

* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
  color: var(--col-bardh);
}

h1, h2,h3,h4,h5,h6{
  font-family: 'Forum', cursive;
}

.btn {
  color: var(--col-bardh);
  text-decoration: none;
  font-size: 15px;
  height: 30px;
  padding: 0 20px;
  display: inline-block;
  line-height: 30px;
  border-radius: 15px;
  cursor: pointer;
  border: 1px solid var(--col-gjelber);
  transition: all 0.5s;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(
      rgba(30, 30, 30, 0.5),
      rgba(16, 16, 16, 0.8)),
    url(assets/img/banjo3.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.header .wrapper {
  background-color: rgba(163, 182, 180, 0.6);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

nav .logo {
  font-size: 35px;
  color: var(--col-bardh);
  text-decoration: none;
  font-family: "Forum", cursive;
}

nav .porosi a:hover {
  background-color: var(--col-gjelber);
}

.nav-links {
  text-align: center;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: var(--col-bardh);
  text-decoration: none;
  font-size: 16px;
  transition: all 0.5s;
}

.nav-links ul li a:hover {
  color: var(--col-kafe);
}

.text-box {
  width: 90%;
  color: var(--col-bardh);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box h1 {
  font-size: 62px;
  font-family: 'Forum', cursive;
}

.text-box p {
  margin: 15px 0 40px;
  font-size: 14px;
  color
}

.text-box a:hover{
  background-color: var(--col-gjelber);
}

nav .fa-solid {
  display: none;
}

/* --------- SECTION INTRO --------- */

section#intro {
  height: 500px;
  background-color: var(--col-zi);
}

section#intro .container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

section#intro .content {
  width: 900px;
  margin: auto;
  line-height: 25px;
  padding-bottom: 100px;
}
section#intro p {
  font-size: 17px;
  line-height: 35px;
  padding: 20px;
}

section#intro .titull h1 {
  color: var(--col-gjelber);
  font-size: 30px;
  margin: 15px 0px;
}

section#intro {
  text-decoration: none;
  text-align: center;
  font-size: 15px;
  font-family: "Forum", cursive;
}

section#intro .content a {
  text-decoration:  none;
  
  font-size: 15px;
  font-family: "Forum", cursive;
}

/* ---------- SECTION ABOUT-US ----------- */

section#about-us {
  background-color: var(--col-bardh);
}

section#about-us .content {
  padding: 50px;
}

.titull {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top:80px ;
}

.titull h1 {
  font-size: 30px;
  color: var(--col-gjelber);
padding: 15px;
}

section#about-us .titull h3 {
  font-size: 20px;
  color: var(--col-zi);
  
}

.titull p {
  font-size: 20px;
  color: var(--col-zi);
  padding: 15px;  
}

.row {
margin-top:5% ;
display: flex;
justify-content: space-evenly;
flex-wrap: wrap;
}

.element {
  flex-basis: 34%;
  border-radius: 10px;
  margin-bottom: 25px;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}

.element:hover {
  background-color: var(--col-gjelber);
}

.element  i {
  color: var(--col-kafe);
  font-size: 30px;
  margin-bottom: 12px;
  }

.element p {
  color: var(--col-zi);
}

 /* --------Section Gallery--------- */
section#gallery {
  padding: 60px 0px;
  background-color: var(--col-gjelber);
}

section#gallery .titull {
  padding: 30px 0 70px 0;
}

section#gallery .titull h1{
  color: var(--col-zi);
}
section#gallery .gallery img {
  display: block;
  width: 100%;
  height: 100%;
  border: 2px solid var(--col-zi); 
  object-fit: cover;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4,300px);
  grid-template-rows: repeat(3,250px);
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.img-1 {
  grid-row-start: 1;
  grid-column-start: 1;

  grid-row-end: 2;
  grid-column-end: 2;
}

.img-2 {
  grid-row-start: 2;
  grid-column-start: 4;

  grid-row-end: 4;
  grid-column-end: 5;
}

.img-3 {
  grid-row-start: 2;
  grid-column-start: 1;

  grid-row-end: 4;
  grid-column-end: 2;
}

.img-4 {
  grid-row-start: 3;
  grid-column-start: 2;

  grid-row-end: 4;
  grid-column-end: 4;
}

.img-5 {
  
  grid-row-start: 1;
  grid-column-start: 3;

  grid-row-end: 2;
  grid-column-end: 5;
}

.img-6 {
  grid-row-start: 1;
  grid-column-start: 2;

  grid-row-end: 3;
  grid-column-end: 2;

  
}

.img-7 {
  grid-row-start: 2;
  grid-column-start: 3;

  grid-row-end: 3;
  grid-column-end: 4;
}


/* -------- SECTION TESTIMONIALS -------------- */
section#reviews {
  background-color: var(--col-zi);
}

section#reviews .titull {
  padding-bottom: 20px;
}

section#reviews .wrapper {
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section#reviews .wrapper .box {
  background-color:rgba(163, 182, 180, 0.5) ;
  border-radius: 3px;
  padding: 25px;
  width: 320px;
  margin: 40px 0 70px 0;
}

section#reviews .wrapper .box i.quote {
  font-size: 20px;
  color: var(--col-zi);
}

section#reviews .wrapper .box .content {
padding-top: 10px;
display: flex;
align-items: center;
justify-content: space-between;
}

section#reviews .wrapper .box .info .name{
  font-size: 17px;
  font-weight: 600;
  color: var(--col-bardh);
}

section#reviews .wrapper .box .info .job {
  font-size: 16px;
  font-weight: 500;
  color: var(--col-zi);
}

section#reviews .wrapper .box .info .stars {
  margin-top: 2px;
}

.box .info .stars i {
  color: var(--col-zi);
}

section#reviews .wrapper .box .content .image {
  height: 75px;
  width: 75px;
  padding: 3px;
  background: var(--col-zi);
  border-radius: 50%;
}

section#reviews .wrapper .box .content .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid var(--col-bardh);
}

/* --------- SECTION CONTACT ---------*/

section#contact {
  padding: 60px 0px;
  background-color:var(--col-bardh);
}

section#contact .titull  h3{
  color: var(--col-zi);
  font-size: 23px;
}

section#contact iframe {
  width: 100%;
  height: 300px;
  margin: 35px 0px;
}

section#contact .contact {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

section#contact .address li {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 60px 1fr;
  align-items: center;
  color:var(--col-zi);
}

section#contact .address span.icon {
  background-color: var(--col-gjelber);
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
}

section#contact .address .text .label  {
  color: rgb(43, 43, 43);
}


/* ---------- SECTION POROSIA --------- */

section#porosia {
  background-color: var(--col-gjelber);
}

section#porosia .titull h1 {
  color: var(--col-zi);
} 

section#porosia form {
  padding: 50px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr) ;
  gap: 20px;
}

section#porosia form textarea,
section#porosia form button {
  grid-column: 1 / 4;
}

section#porosia form input,
section#porosia form textarea {
  color: var(--col-zi);
  border:3px solid var(--col-bardh);
  background-color: transparent;
  padding: 8px;
  transition: all 0.5s;
  border-radius: 5px;
  
}

section#porosia form textarea{
  resize: none;
}

section#porosia form input:hover {
  background-color: var(--col-bardh);
}

section#porosia form button {
  justify-self: center;
  
  color: var(--col-zi);
  text-decoration: none;

  font-size: 15px;
  height: 35px;
  padding: 0 25px;
  display: inline-block;
  line-height: 30px;
  border-radius: 20px;
  cursor: pointer;
  background-color: transparent;

  border: 3px solid var(--col-bardh);
  transition: all 0.5s;
}

section#porosia form button:hover {
  background-color: var(--col-bardh);
}

/* ------------ SECTION FOOTER ---------- */



footer  {
  background-color:var(--col-zi) ;
  width: 100%;
  display: flex;
  text-align: center;
  padding: 15px 0 0 0; 
}

footer  p {
  font-size: 14px;
  text-align: center;
}

footer .social-media{
  padding: 10px 0;
}

footer .social-media a i {
margin: 10px;
font-size: 18px;
}

/* -------- RESPONSIVE -------------- */

@media(max-width:400px) {

  .container {
    width: 90%;
    margin: 0 auto;
  }

  /* ------- SECTION HEADER --------- */

  .text-box h1 {
    font-size: 20px;
  }

  .nav-links ul li  {
    display: block;
  }

  .nav-links {
    position: absolute;
    background: var(--col-gjelber);
    height: 100vh;
    width: 200px;
    top: 0;
    right:-300px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }

  nav .fa-solid{
    display: block;
    color: var(--col-bardh);
    margin: 5px;
    font-size: 22px;
    cursor: pointer;
  }

  .nav-links ul {
    padding: 30px;
    margin: 10px;
  }
 nav .porosi a {
  display: none;
 }
.fa-bars {
  display: block;
  position: absolute;
  left: 345px;
 
}


/* -----------SECTION INTRO--------------- */

section#intro {
  height: 800px;
}

/* ---------- SECTION ABOUT US ------------ */

.row {
flex-direction: column;
}

section#about-us .titull p {
  font-size: 17px;
}

/* --------- SECTION GALLERY ----------- */

section#gallery {
  padding: 0 0 40px 0;
}

section#gallery .titull {
  padding: 40px 0 50px 0;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2,170px);
  grid-template-rows: repeat(6,140px);
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 30px 0 20px 0;
}

.img-1{
  grid-area: 1/1/2/2;
}

.img-2{
  grid-area: 1/2/3/3;
}

.img-3{
  grid-area: 4/1/7/2;
}

.img-4{
  grid-area:2/1/3/2 ;
}

.img-5{
  grid-area: 3/1/4/3;
}

.img-6{
  grid-area: 5/2/7/3;
}

.img-7{
  grid-area: 4/2/5/3;
}

 /* ---------- SECTION REVIEWS ----------- */

section#reviews .wrapper{
  flex-wrap: wrap;
}
section#reviews .wrapper .box {
  width: 100%;
  margin: 20px 0 40px 0;
}

/* ---------- SECTION CONTACT ----------- */

section#contact {
  padding: 0 0 40px 0;
  
}

/* Section Porosit */

section#porosia form {
  grid-template-columns: 1fr ;
}

section#porosia form textarea,
section#porosia form button {
  grid-column: 1 / 2;
}

}
}
